<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a place holder GUI launch so that new nodes can ben added based on this launch files UUID. Maybe I can consider starting awindamonitor here later -->

<launch>
    <rosparam command="load" param="gui_start_flag" />
    <!-- <node pkg="hrc_training" name="gui_node" type="gui_node.py"/> -->
    <node name="arduino_node" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM1" respawn="true" />

</launch>


